@using Villafane.Services.DB;
@using Villafane.WebSite.Helpers;
@model List<Variable>
@inject ValoresBusinessManager _val_manager
@{
    var valores = await _val_manager.ObtenerTodosAsync();
    var valores_items = valores.ForOptionalSelect(f => f.Valor, f => f.Id.ToString(), "Selecciona el valor...");
}
<h2>Variables</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Gestor"))
{
    <button class="btn btn-primary m-3" id="btnAgregarVariable">Agregar Variable</button>
}
<div class="table-responsive">
    <table class="table table-striped datatable">
        <thead>
            <tr>
                <th>Valor</th>
                <th>Variables</th>
                <th></th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.IdValorNavigation.Valor</td>
                    <td>@item.Variable1</td>
                    <td>
                        @if (User.IsInRole("Admin") || User.IsInRole("Gestor"))
                        {
                        <button class="btn btn-warning modificarVariable" data-id="@item.Id" data-variable="@item.Variable1" data-valor="@item.IdValor">Modificar</button>
                        <button class="btn btn-danger eliminarVariable" data-id="@item.Id" data-variable="@item.Variable1" data-valor="@item.IdValor">Eliminar</button>
                        }    
                    </td>
                   @* <td></td>*@
                </tr>
            }
        </tbody>
    </table>
    
</div>
<!-- Modal -->
<div class="modal fade" id="ModificarModal" tabindex="-1" role="dialog" aria-labelledby="ModificarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModificarModalLabel">Modificar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Modificar" asp-controller="Variables">
                <div class="modal-body">
                    <label>Variable</label>
                    <input name="Id" id="inputModificarId" type="hidden" />
                    <label>Valor</label>
                    <input name="Variable1" type="text" class="form-control" id="inputModificarVariable" />
                   <select class="form-control" asp-items="@valores_items" name="IdValor" id="selectModificarValor"></select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="EliminarModal" tabindex="-1" role="dialog" aria-labelledby="EliminarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EliminarModalLabel">¿Seguro que quieres eliminar <span id="eliminarTitleGrupo"></span>?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Eliminar" asp-controller="Valores">
                <div class="modal-body">

                    <input name="Id" id="inputEliminarId" type="hidden" />
                    <input name="Valor" type="hidden"  id="inputEliminarGrupo" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </div>
            </form>
        </div>
    </div>
</div>

                    <!-- Modal -->
<div class="modal fade" id="AgregarModal" tabindex="-1" role="dialog" aria-labelledby="AgregarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AgregarModalLabel">Agregar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form asp-action="Agregar" asp-controller="Variables">
                <div class="modal-body">

                    <input name="Variable1" type="text" class="form-control" id="inputAgregarVariable" />
                     <select class="form-control" asp-items="@valores_items" name="IdValor" id="selectAgregarValor"></select>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Agregar</button>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/js/Variables/Index.js"></script>
}